- provide(:title, @resource.title)

= @resource.title
= @resource.description

= render partial: 'shared/resource_completion_link', locals: { resource: @resource }
= link_to 'Delete', resource_path(@resource, no_way_back: '1'), method: :delete
= link_to 'Edit', edit_resource_path(@resource)
